.post-properties{
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #7dc3fe;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.post-properties li{
  display: inline-block;
  margin-right: 10px;
}

main{
  margin-top: 60px;
}
